extends baseEmail

block content
  p(style="text-align: center;") Hi #{firstName},
  p(style="text-align: center;") Your order has been fulfilled successfully! 🎉
  p(style="text-align: center;") Here are your order details:
  table(role="table", aria-label="Order Details")
    thead
      tr
        th(scope="col") Product
        th(scope="col") Quantity
        th(scope="col") Price
    tbody
      each item in order.product
        tr
          td #{item.name}
          td #{item.fulfilledItems}
          td #{formatToNaira(item.price * item.fulfilledItems)}
  if order.shippingMethod === 'delivery'
    br
    p(style="text-align: center;") Tracking Number: #{order.tracking}
    p(style="text-align: center;") Carrier: #{order.carrier}
    if order.trackingLink
      p(style="text-align: center;") Track your order:
        a(href=order.trackingLink, aria-label="Track your order") #{order.trackingLink}
  p(style="text-align: center;") Shipping Method: #{order.shippingMethod}
  p(style="text-align: center;") If you have any questions, feel free to contact us!
  p(style="text-align: center;") - Dekato Store
